/* ************************************ Import Fonts *********************************** */
@font-face { 
	font-family: 'Nexa Bold';
    src: url('../fonts/nexa_free_bold-webfont.woff') format('woff');
}
@font-face { 
	font-family: 'Source Sans Pro Regular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
}
@font-face { 
	font-family: 'Source Sans Pro Light';
    src: url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
}
/* ************************************ Global Page Layout *********************************** */
.navbar {
    background-color: #fff;
}
nav {
    font-family: 'Source Sans Pro Light';
}
.btn{
    border: 2px solid #cd0000;
    background: transparent;
    color: #cd0000;
}
.btn:hover {
    background-color: #cd0000;
    color: white;
}
/* ************************************ Red Page *********************************** */

main {
    font-family: 'Source Sans Pro Light';
}
h1 {
    font-family: 'Nexa Bold';
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Source Sans Pro Regular';
    font-size: 1.6em;
}
article > div > p {
    color: rgb(241, 236, 236);
    font-family: 'Source Sans Pro Light';
    font-size: 1.2em;
}
span {
    color: gold;
}
article {
    background-color: #cd0000;
    color: white;
    margin: 20px 0 0 20px;
}

article > .btn {
    border: 2px solid white;
    color: white;
    background: transparent;
    margin: 10px 0 10px 0;
    padding: 10px;
}
article > .btn:hover {
    background-color: white;
    color: #cd0000;
    padding: 20px;
}

aside {
    margin: 20px;
}
.scrollspy {
    position: relative;
    overflow-y: scroll; 
    height: 200px;
}
footer {
    color: crimson;
    text-align: center;
}
/* ************************************ MEDIA QUERIES *********************************** */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.99px) { 
    .navbar {
        background-color: pink;
        }
} 
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.99px) { 
    .navbar {
        background-color: red;
    }

}
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.99px) { 
        .navbar {
            background-color: rgb(64, 163, 34);
        }

}
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.99px) {
        .navbar {
            background-color: rgb(255, 180, 19);
        }
 
 }